@import "../sass/_colors/_colors.scss";
@import "../sass/_mixins/_mixins.scss";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: $background-color;
  font-family: sans-serif;
}

.header {
  @include sectioned-boxes(80px);
  .header__inner {
    @include sectioned-boxes-inner(row, $background-color);
  }
  .header__h1 {
    color: $title-text-color;
    margin: 0;
    font-size: 35px;
    font-weight: 800;
  }
  .fa-solid {
    color: $title-text-color;
    align-items: center;
    display: flex;
  }
}

.section-media {
  @include sectioned-boxes(100%);
  .section-media__inner {
    @include sectioned-boxes-inner(column, $dark-blue);
  }
  .section-media__option-field {
    display: flex;
    flex-direction: column;
    color: $background-color;
    align-items: center;
  }
}
