@import "../sass/_colors/_colors.scss";
@import "../sass/_mixins/_mixins.scss";
@import "../sass/_partials/_headers.scss";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: $background-color;
  font-family: sans-serif;
}
.section-top {
  @include sectioned-boxes(320px);
  &__inner {
    @include sectioned-boxes-inner(column, $background-color, start);
    .section-top__form {
      @include sectioned-boxes-inner(column, $background-color, space-around);
      width: 90%;
      align-items: center;
      input {
        width: 100%;
        height: 20%;
        border: 2px solid $text-black;
        border-radius: 20px;
      }
    }
    .section-top__submit-button {
      @include submit-button(20%);
    }
  }
}

.section-media {
  @include sectioned-boxes(100%);
  .section-media__inner {
    @include sectioned-boxes-inner(column, $dark-blue, space-between);
  }
  .section-media__option-field {
    display: flex;
    flex-direction: column;
    color: $background-color;
    align-items: center;
  }
  &__input-button {
    @include submit-button(50%);
  }
}
