@import "../sass/_colors/_colors.scss";
@import "../sass/_mixins/_mixins.scss";
@import "../sass/_partials/_headers.scss";
@import "../sass/_partials/_section-one.scss";
@import "../sass/_partials/_section-two.scss";
@import "../sass/_partials/_section-three.scss";
@import "../sass/_partials/_lists.scss";
@import "../sass/_partials/_section-four.scss";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: $background-color;
  font-family: poppins, sans-serif;
}
