@import "../sass/_colors/_colors.scss";
@import "../sass/_mixins/_mixins.scss";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: $background-color;
  font-family: sans-serif;
}

.header {
  @include sectioned-boxes(80px);
  .header__inner {
    @include sectioned-boxes-inner(row, $background-color, space-between);
  }
  .header__h1 {
    color: $title-text-color;
    margin: 0;
    font-size: 35px;
    font-weight: 800;
  }
  .fa-solid {
    color: $title-text-color;
    align-items: center;
    display: flex;
  }
}

.section-top {
  @include sectioned-boxes(320px);
  .section-top__inner {
    @include sectioned-boxes-inner(column, $background-color, start);
    .section-top__form {
      @include sectioned-boxes-inner(column, $background-color, space-around);
      width: 90%;
      align-items: center;
      input {
        width: 100%;
        height: 20%;
        border: 2px solid $text-black;
        border-radius: 20px;
      }
    }
  }
}

.section-media {
  @include sectioned-boxes(100%);
  .section-media__inner {
    @include sectioned-boxes-inner(column, $dark-blue, space-between);
  }
}
