@import "../sass/_colors/_colors.scss";
@import "../sass/_mixins/_mixins.scss";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: $background-color;
  font-family: sans-serif;
}

.header {
  @include sectioned-boxes(100px);
  .header__inner {
    @include sectioned-boxes-inner();
  }
  .header__h1 {
    color: $header-text-color;
    margin: 0;
    font-size: 35px;
    font-weight: 800;
  }
  .fa-solid {
    color: $header-text-color;
    align-items: center;
    display: flex;
  }
}
