@import "../_colors/_colors.scss";

@mixin sectioned-boxes($height) {
  border-bottom: 1px solid $border-section-violet;
  height: $height;
  display: flex;
  align-items: center;
}
@mixin sectioned-boxes-inner() {
  background-color: $background-color;
  width: 100%;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  justify-content: space-between;
}
