@import "../_colors/_colors.scss";

@mixin sectioned-boxes($height) {
  border-bottom: 1px solid $border-section-violet;
  height: $height;
  display: flex;
  align-items: center;
}
@mixin sectioned-boxes-inner(
  $flex-direction,
  $background-palette,
  $justify-content
) {
  background-color: $background-palette;
  width: 100%;
  height: 100%;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
}

@mixin input-box($border, $box-background-color, $height, $width) {
  border-radius: 20px;
  background-color: $box-background-color;
  border: $border;
  height: $height;
  width: $width;
}

@mixin submit-button($height) {
  background-color: $pink-button;
  color: $background-color;
  font-size: 14px;
  border: none;
  border-radius: 20px;
  width: 100%;
  height: $height;
}
