@import "../_colors/_colors.scss";

@mixin sectioned-boxes($height) {
  border-bottom: 1px solid $border-section-violet;
  height: $height;
  display: flex;
  align-items: center;
}
@mixin sectioned-boxes-inner($flex-direction, $background-palette) {
  background-color: $background-palette;
  width: 100%;
  height: 100%;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  flex-direction: $flex-direction;
  justify-content: space-between;
}
