$background-color: #fff;
$box-grey: rgb(209, 201, 231);
$title-text-color: #5e59e7;
$dark-blue: rgb(42, 0, 162);
$pink-button: rgb(237, 46, 126);
$text-black: #000;
$border-green: rgb(181, 238, 222);
$content-green: rgb(242, 255, 251);
$border-pink: rgb(246, 149, 189);
$content-pink: rgb(255, 243, 248);
$big-box-blue-light: rgb(95, 46, 234);
$big-box-blue-mid: rgb(84, 37, 220);
$big-box-blue-dark: rgb(76, 30, 208);
$text-grey: rgb(176, 174, 186);
$border-section-violet: #8a5fe7;
$text-violet: rgb(134, 97, 239);
$green-box-background: #8bbfaf;
$green-box-border: #2c715b;
$red-box-background: #ca869e;
$red-box-border: #cd3743;
