@import "../_mixins/_mixins.scss";

.header {
  @include sectioned-boxes(80px);
  .header__inner {
    @include sectioned-boxes-inner(row, $first-color, space-between);
    align-items: center;
  }
  .header__h1 {
    color: $second-color;
    margin: 0;
    font-size: 35px;
    font-weight: 800;
  }
  .fa-solid {
    color: $second-color;
    align-items: center;
    display: flex;
  }
}
