@import "../_mixins/_mixins.scss";
@import "../_colors/_colors.scss";

.section-top {
  @include sectioned-boxes(400px);
  margin-top: 5%;
  &__inner {
    @include sectioned-boxes-inner(column, $background-color, start);
    .section-top__form {
      @include sectioned-boxes-inner(column, $background-color, space-around);
      width: 90%;
      align-items: center;
      input {
        width: 100%;
        height: 20%;
        border: 2px solid $text-black;
        border-radius: 20px;
      }
    }
    .section-top__submit-button {
      @include submit-button(20%);
    }
  }
}
