.section-three {
  @include sectioned-boxes(800px);
  &__inner {
    @include sectioned-boxes-inner(column, $background-color, space-around);
  }
  &__green-box {
    background-color: $green-box-background;
    border: 2px solid $green-box-border;
    border-radius: 20px;
    color: $green-box-border;
  }
  &__red-box {
    background-color: $red-box-background;
    border: 2px solid $red-box-border;
    border-radius: 20px;
    margin-top: 5%;
    color: $red-box-border;
  }
  &__blue-box {
    background-color: $blue-box-background;
    color: $background-color;
    font-size: 4rem;
    text-align: center;
    padding: 10% 0;
    border-radius: 20px;
  }
}
