.section-three {
  @include sectioned-boxes(600px);
  &__inner {
    @include sectioned-boxes-inner(column, $first-color, space-around);
  }
  &__green-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d7f4eb;
    border: 2px solid #0cb840;
    border-radius: 20px;
    color: #0cb840;
    p {
      flex: 8;
    }
    i {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1;
      align-self: center;
    }
    .fa-x {
      align-self: center;
    }
  }
  &__red-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eec7d9;
    border: 2px solid #c01643;
    border-radius: 20px;
    color: #c01643;
    p {
      flex: 8;
    }
    i {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1;
      align-self: center;
    }
    .fa-x {
      align-self: center;
    }
  }
  &__blue-box {
    height: 50%;
    background-color: $third-color;
    color: $first-color;
    font-size: 3rem;
    text-align: center;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @media (min-width: 1000px) {
      span {
        width: 40%;
      }
    }
  }
  &__button {
    @include submit-button(60px, 80%, transparent);
    border: 2px solid white;
    border-radius: 40px;
  }
}
