.section-fourth {
  @include sectioned-boxes-inner(column, $background-color, space-between);
  text-align: center;
  font-size: 14px;
  @media (min-width: 1000px) {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
  & ul {
    padding: 0;
  }
  & li {
    list-style: none;
    padding-top: 22px;
  }
}

.summary-copyright {
  &__title {
    color: $title-text-color;
  }
  &__summary {
    color: $text-grey;
  }
  &__copyright {
    color: $text-grey;
    font-weight: bold;
  }
}

.contact__title {
  color: $text-black;
}

.services {
  &__title {
    color: $text-black;
  }
  &__list {
    color: $text-grey;
  }
}

@media (max-width: 1000px) {
  .services {
    display: none;
  }
}

.continents {
  &__title {
    color: $text-black;
  }
  &__list {
    color: $text-grey;
  }
}

@media (max-width: 1000px) {
  .continents {
    display: none;
  }
}

.contact {
  &__address {
    color: $text-grey;
    @media (min-width: 1000px) {
      max-width: 140px;
    }
  }
  & a {
    text-decoration: none;
  }
}

.summary-copyright {
  grid-column: 1 / 3;
  @media (min-width: 1000px) {
    max-width: 280px;
  }
}
