.section-media {
  @include sectioned-boxes(100%);
  .section-media__inner {
    @include sectioned-boxes-inner(column, $background-color, space-between);
  }
  &__search-box {
    height: 500px;
    background-color: $dark-blue;
  }
  &__form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 80%;
    margin-left: 5%;
    margin-right: 5%;
  }
  &__option-field {
    display: flex;
    flex-direction: column;
    color: $background-color;
    align-items: left;
    margin: 0 2%;
    height: 20%;
  }
  .section-media__input-button {
    @include submit-button(20%, 100%, $pink-button);
  }
  &__tittle {
    margin-left: 30px;
    color: $background-color;
    font-size: medium;
  }
  &__input-button {
    @include submit-button(50%, 100%, $pink-button);
  }
}

.section-media__field-to-complete {
  @include input-box(none, $background-color, 50%, 100%);
}

.First-research__button-booking {
  @include submit-button(60%, 40%, $background-color);
  color: $blue-box-background;
  border: 2px solid $box-grey;
  padding: 2%;
}

.star {
  width: 40px;
}

h3,
h4 {
  color: $blue-box-background;
}
