.section-fourth {
  @include sectioned-boxes(500px);
  &__inner {
    @include sectioned-boxes-inner(column, $first-color, space-around);
  }
  @media (min-width: 1000px) {
    &__inner {
      @include sectioned-boxes-inner(row, $first-color, space-around);
    }
  }
}

.summary-copyright {
  text-align: center;
  @media (min-width: 1000px) {
    text-align: left;
  }
  &__title {
    color: $second-color;
  }
  &__summary {
    color: $fourth-color;
  }
  &__copyright {
    color: $fourth-color;
    font-weight: bold;
  }
}

.services {
  &__title {
    color: black;
  }
  &__list {
    padding: 0;
    list-style: none;
    color: $fourth-color;
  }
}

@media (max-width: 1000px) {
  .services {
    display: none;
  }
}

.continents {
  &__title {
    color: black;
  }
  &__list {
    padding: 0;
    list-style: none;
    color: $fourth-color;
  }
}

@media (max-width: 1000px) {
  .continents {
    display: none;
  }
}

.contact {
  text-align: center;
  @media (min-width: 1000px) {
    text-align: left;
  }
  &__address {
    color: $fourth-color;
    @media (min-width: 1000px) {
      max-width: 140px;
    }
  }
  &__title {
    color: black;
  }
  & a {
    text-decoration: none;
  }
}

.summary-copyright {
  grid-column: 1 / 3;
  @media (min-width: 1000px) {
    max-width: 280px;
  }
}
