.section-fourth {
  @include sectioned-boxes-inner(row, $background-color, space-between);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  font-size: 14px;
  & ul {
    padding: 0;
  }
  & li {
    list-style: none;
  }
}

.summary-copyright {
  &__title {
    color: $title-text-color;
  }
  &__summary {
    color: $text-grey;
  }
  &__copyright {
    color: $text-grey;
  }
}

.contact__title {
  color: $text-black;
}

.services {
  &__title {
    color: $text-black;
  }
  &__list {
    color: $text-grey;
  }
}

@media (max-width: 1000px) {
  .services {
    display: none;
  }
}

.continents {
  &__title {
    color: $text-black;
  }
  &__list {
    color: $text-grey;
  }
}

@media (max-width: 1000px) {
  .continents {
    display: none;
  }
}

.contact {
  &__address {
    color: $text-grey;
  }
}

.summary-copyright {
  grid-column: 1 / 3;
  max-width: 250px;
}
