.section-three {
  @include sectioned-boxes(400px);
  &__inner {
    @include sectioned-boxes-inner(column, $background-color, start);
    padding-top: 5%;
    padding-bottom: 5%;
  }
  &__green-box {
    background-color: $green-box-background;
    border: 2px solid $green-box-border;
    border-radius: 20px;
  }
  &__red-box {
    background-color: $red-box-background;
    border: 2px solid $red-box-border;
    border-radius: 20px;
    margin-top: 5%;
  }
}
