.section-three {
  @include sectioned-boxes(600px);
  &__inner {
    @include sectioned-boxes-inner(column, $background-color, space-around);
  }
  &__green-box {
    display: flex;
    align-items: center;
    background-color: $green-box-background;
    border: 2px solid $green-box-border;
    border-radius: 20px;
    color: $green-box-border;
    i {
      align-self: start;
      padding: 4% 3%;
    }
    .fa-x {
      align-self: center;
    }
  }
  &__red-box {
    display: flex;
    align-items: center;
    background-color: $red-box-background;
    border: 2px solid $red-box-border;
    border-radius: 20px;
    color: $red-box-border;
    i {
      align-self: start;
      padding: 4% 3%;
    }
    .fa-x {
      align-self: center;
    }
  }
  &__blue-box {
    background-color: $blue-box-background;
    color: $background-color;
    font-size: 3rem;
    text-align: center;
    padding: 10% 0;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__button {
    @include submit-button(60px, 80%, transparent);
    border: 2px solid white;
    border-radius: 40px;
  }
}
