.section-top {
  @include sectioned-boxes(400px);
  &__inner {
    @include sectioned-boxes-inner(column, $first-color, start);
    padding-top: 5%;
    padding-bottom: 5%;
    .section-top__form {
      @include sectioned-boxes-inner(column, $first-color, space-around);
      margin: 0;
      width: 100%;
      align-items: center;
      .section-top__input {
        @include input-box(2px solid black, $fourth-color, 20%, 100%);
      }
    }
    .section-top__submit-button {
      @include submit-button(20%, 100%, $fifth-color);
    }
  }
}

@media (min-width: 1000px) {
  .section-top {
    @include sectioned-boxes(200px);
    &__inner {
      padding: 0;
    }
    .section-top__form {
      flex-direction: row;
      justify-content: space-between;
      margin: 0;
      width: 100%;
      .section-top__input {
        @include input-box(2px solid black, $fourth-color, 100%, 20%);
        width: 100%;
        height: 40%;
        border: 2px solid black;
        border-radius: 20px;
        margin: 0 2%;
      }
      .section-top__input:nth-child(1) {
        width: 60%;
      }
      .section-top__input:nth-child(2) {
        width: 20%;
      }
      .section-top__input:nth-child(3) {
        width: 20%;
      }
    }
    .section-top__submit-button {
      @include submit-button(20%, 20%, $fifth-color);
    }
  }
}
