.section-media {
  @include sectioned-boxes(100%);
  .section-media__inner {
    @include sectioned-boxes-inner(column, $background-color, space-between);
    @media (min-width: 1000px) {
      @include sectioned-boxes-inner(row, $background-color, space-between);
    }
  }
  &__search-box {
    height: 500px;
    width: 100%;
    background-color: $dark-blue;
    border-radius: 20px;
    margin-top: 5%;
  }
  @media (min-width: 1000px) {
    &__search-box {
      height: 500px;
      width: 40%;
      background-color: $dark-blue;
      border-radius: 20px;
      margin-top: 5%;
    }
    &__show-results {
      width: 60%;
      margin-left: 5%;
      margin-top: 5%;
      h2 {
        margin: 0;
      }
    }
  }
  &__form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 80%;
    margin-left: 5%;
    margin-right: 5%;
  }
  &__option-field {
    display: flex;
    flex-direction: column;
    color: $background-color;
    align-items: left;
    height: 25%;
  }
  .section-media__input-button {
    @include submit-button(12%, 100%, $pink-button);
  }
  &__tittle {
    margin-left: 30px;
    color: $background-color;
    font-size: medium;
  }
  &__input-button {
    @include submit-button(50%, 100%, $pink-button);
  }
}

.section-media__field-to-complete {
  @include input-box(none, $background-color, 50%, 100%);
}
.First-research {
  display: flex;
  flex-direction: column;

  padding: 0;
  margin: 5% 0;
  border-bottom: 2px solid $box-grey;
  &__image-house > img {
    width: 60%;
  }
  &__star {
    width: 20px;
  }
  &__location-detail {
    margin: 0;
  }
  &__details {
    margin: 0;
  }
  h3,
  h4 {
    color: $blue-box-background;
    margin: 0;
  }
  &__show-on-map {
    margin: 0;
  }
  &__button-booking {
    @include submit-button(60%, 40%, $background-color);
    color: $blue-box-background;
    border: 2px solid $box-grey;
    margin-top: 5%;
  }
  &__text-wrap {
    margin-bottom: 5%;
  }
}
.First-research:last-child {
  border-bottom: none;
}

@media (min-width: 1000px) {
  .First-research {
    flex-direction: row;
    &__button-booking {
      @include submit-button(15%, 50%, $background-color);
      color: $blue-box-background;
      border: 2px solid $box-grey;
      margin-top: 5%;
    }
    &__image-house > img {
      width: 90%;
    }
  }
}
